* {
    font-family: 'Calibri', 'Trebuchet MS', sans-serif
    font-weight: bold;
    color: black;
    font-size: 60px;
    text-align: center;
}


h1 {
    font-size: 100px;
}

body {
    background-image: url(img/something.jpg);
    background-size: cover;
    background-position: center;
}

img {
    width: 1000px;
    height: 700px;
    padding: 25px;

}
    
div {
    background-color: rgba(175, 175, 175, 0.589);
    margin: 25px 20% 75px;
    padding: 25px;
}
